.navigation {
    align-items: center;
    column-gap: 3rem;
    display: flex;
    height: 112px;
    justify-content: center;
}

@media (max-width: 744px) {
    .navigation {
        height: 72px;
    }
}